{{ define "navbar" }}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-brand">Website Name</div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{range .NavItems }}
        {{if .Selected}}
        <li class="active">
        {{else}}
        <li>
        {{end}}
          <a href="{{.Path}}">{{.Title}}</a>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</nav>
{{ end }}
